
h1 {
    font-weight: bold;
    font-size: 60px;
    font-family: 'Times New Roman', Times, serif;
  }

h3 {
    font-weight: bold;
    font-size: 25px;
    font-family: 'Times New Roman', Times, serif;
}

p {
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
}

/*Allows image in card to zoom once hovered*/
.zoom {
    padding: 30px;
    transition: transform .2s;
    width: auto;
    height: auto;
  }

.zoom:hover {
    -ms-transform: scale(1.2); 
    transform: scale(1.2); 
  }

/*Card sizing*/
.card {
    height: 30rem;
    width: 23rem;
    border: 3px solid #d8d2d2;
}
